/* Here is your custom css styles. */

@font-face{
    font-family: 'msyh';
    src: url('../font/msyh.ttc');
}

body{
    font-family: 'msyh';
	color: black;
}

blockquote {
    border-left: 5px solid #42b983;
    padding: 1rem 0.8rem 0.2rem 0.8rem;
    color: black;
    background-color: rgba(66, 185, 131, .1);
}